@font-face {
  font-family: "iconfont"; /* Project id 3398606 */
  src: url('iconfont.woff2?t=1658993649487') format('woff2'),
       url('iconfont.woff?t=1658993649487') format('woff'),
       url('iconfont.ttf?t=1658993649487') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e604";
}

.icon-weixin:before {
  content: "\e605";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-airudiantubiaohuizhi-zhuanqu_yiwutong:before {
  content: "\e69d";
}

.icon-xiazai:before {
  content: "\e603";
}

.icon-fenxiang:before {
  content: "\e739";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-duoxuan:before {
  content: "\e642";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-gengduo:before {
  content: "\e612";
}

.icon-49:before {
  content: "\e63c";
}

.icon-sousuo1:before {
  content: "\e62f";
}

.icon-xitongfanhui:before {
  content: "\e697";
}

.icon-bofang1:before {
  content: "\e62c";
}

.icon-airec:before {
  content: "\e935";
}

.icon-paihangbang1:before {
  content: "\e650";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-zanting:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-fanjutuijian:before {
  content: "\e6d5";
}

.icon-paihangbang:before {
  content: "\e609";
}

.icon-gedan:before {
  content: "\e66a";
}

.icon-shushi:before {
  content: "\e62e";
}

.icon-airec-zhinengtuijian:before {
  content: "\e8a2";
}

